//<style>.newst{position:relative;text-align:right;height:420px;width:520px;} #gmap_canvas img{max-width:none!important;background:none!important}</style>
div.container__profile {
    display: flex;
    flex-flow: row nowrap;


    div.container__profilecontext {
        display: flex;
        flex-flow: column nowrap;
        right:0;
        left: 10rem;
        position: absolute;

        main {
            // height: 100%;
            padding: 2rem;
            // max-height: calc(100vh - 5.6rem);
            // overflow-y: scroll;

            div.container__profilehero {
                padding: 0 2rem;
                text-align: center;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;

                img {
                    height: auto;
                    width: 9.4375rem;
                    border-radius: 50%;
                }

                h1 {
                    font-size: 2.8125rem;
                    font-weight: 600;
                    color: var(--text-2);
                }

                ul.container__profilestatistics {
                    display: flex;

                    li {
                        margin: 1rem;
                        display: flex;
                        flex-flow: column nowrap;
                        color: var(--text-1);

                        .profilestats__count {
                            font-size: 1.6rem;
                            font-weight: 600;
                            color: red;
                        }
                    }
                }
            }

            div.container__profilevideos {
                padding: 2rem 5rem;

                h3 {
                    font-size: 1.6rem;
                    font-weight: 600;
                    margin: 2rem 0;
                    color: var(--text-2);
                }

                ul.profilevideos__ul {
                    li {
                        background: red;
                        width: 20rem;
                        height: 10rem;
                    }
                }

                span { color: var(--text-1) }
            }

            div.container__likedvideos {
                padding: 2rem 5rem;
                // width: calc(100vw - 10rem);
                

                h3 {
                    font-size: 1.6rem;
                    font-weight: 600;
                    margin: 2rem 0;
                    color: var(--text-2);
                }

                ul.profilevideos__ul {

                    display: flex;
                    flex-flow: row nowrap;
                    padding: 1rem 0;
                    overflow-x: scroll;
                    
                    
                    li {
                        // width: 20rem;
                        // height: 10rem;
                        margin: 0 0.5rem;

                        &:first-child {
                            margin-left: 0;
                        }

                        .card__video {
                            background: var(--active);
                            border-radius: 20px;
                            height: inherit;
                            min-height: 12rem;
                            min-width: 12rem;
                            box-shadow: 0px 3px 6px 0 hsla(0, 0%, 0%, 0.13);
                            display: flex;
                            flex-flow: column nowrap;

                            img {
                                border-radius: 20px 20px 0 0;
                            }

                            .card__info {   
                                padding: 0.5625rem 1.25rem 0.75rem;
                                height: 6.7rem;
                                h5{
                                    margin: 0.3rem 0 0;
                                    // color: #606060;
                                    color: var(--text-2);
                                    font-size: 14px;
                                    font-weight: 600;
                                    text-overflow: ellipsis;
                                    // white-space: nowrap;
                                    overflow: hidden;
                                    min-width: 9.375rem;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    height: 2.625rem;
                                }
                                span {
                                    margin-top: 0.5rem;
                                    font-size: 13px;
                                    font-weight: 400;
                                    color: var(--text-1);

                                    text-overflow: ellipsis;
                                    // white-space: nowrap;
                                    overflow: hidden;
                                    min-width: 9.375rem;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                }
                            }
                        }

                    }


                }

                span { color: var(--text-1) }
            }

            button.foryou__signout {
                border: none;
                height: 3rem;
                width: 10rem;
                background: red;
                color: white;
                border-radius: 10px;
                margin-top: 1rem;
            }
            
        }
    }
}