header.foryou__header {
    // position: absolute;
    top: 0;
    right: 0;
    display: flex;
    // width: calc(100vw - 10rem);
    padding: 2rem 5rem;
    flex-flow: row nowrap;
    justify-content: flex-end;
    
    div.header__theme {
        span {
            color: var(--text-1);
            font-weight: 600;
        }
    
        input[type=checkbox]{
            height: 0;
            width: 0;
            visibility: hidden;
            outline: none;
        }
        
        label.toggle__label {
            cursor: pointer;
            text-indent: -9999px;
            width: 52px;
            height: 27px;
            background: hsl(0, 91%, 45%);
            float: right;
            border-radius: 100px;
            position: relative;
            outline: none;
        }
        
        label:after {
            content: '';
            position: absolute;
            top: 3px;
            right: 3px;
            width: 20px;
            height: 20px;
            background: hsl(0, 0%, 100%);
            border-radius: 90px;
            transition: 0.3s;
            outline:none;
        }
        
        input:checked + label {
            background: #ccc;
            outline:none;
        }
        
        input:checked + label:after {
            right: calc(100% - 3px);
            transform: translateX(100%);
            background: hsl(230, 17%, 14%);
            outline:none;
        }
        
        label:active:after {
            width: 45px;
            outline:none;
        }
    }
}